.oil {
  display: flex;
  margin-left: 60px;
  margin-top: 66px;

}
.rr {
  width: 200%;
  height: 13rem;
  border: 1px solid;
  background-color: #fff;

}
.ff {
  width: 200%;
  height: 13rem;
  border: 1px solid;
  margin-top: 16px;
  background-color: #fff;

}
.hh {
  width: 48%;
  height: 27rem;
  border: 1px solid;
  margin-left: 25%;
  background-color: #fff;
}
.flex-let {
  display: flex;
  margin-top: 23px;
}
.two-half {
  margin-top: 15px;
  margin-left: 19px;
}
hr.high {
  margin-top: 43px;
}
.drawer {
  margin: auto;
  padding-left: 13px;
  border: 1px solid #d1d9e6;
  border-top: none;
  border-bottom: none;
  border-right: none;
}
button.btn {
  padding: 12px;
  text-transform: uppercase;
  background-color: #0092fe;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
  margin-right: 19px;
}
.back {
  margin-left: 11px;
}
hr.more {
  width: 97%;
  margin-left: 3px;
  border: 1px solid #d1d9e6;
  margin-top: 60px;
}
.details {
  text-align: end;
  margin-top: 14px;
  margin-right: 30px;
  color: #0092fe;
  font-weight: 500;
}
hr.like {
  margin-top: 95px;
  width: 90%;
  margin-left: 5%;
  border: 1px solid #d1d9e6;
}
.preve {
  text-align: end;
  margin-top: 14px;
  margin-right: 30px;
  color: #0092fe;
  font-weight: 500;
}
hr.high {
  margin-left: 12px;
  width: 94%;
  border: 1px solid #d1d9e6;
  margin-top: 14px;
}
.seco-top {
  margin-top: 17px;
  margin-left: 19px;
}
p.pay {
  margin-top: 19px;
}
.card-head {
  margin-top: 19px;
  h4.utc {
    margin-left: 21px;
}
}
table {
  margin-top: 14px;
  margin-left: 16px;
  border-collapse: collapse;
  width: 94%;

  td {
    padding: 13px;
  }
  tr.ashes {
    background-color: #f5f7fa;
    padding: 8px;
    text-align: left;
  }
}